<?xml version="1.0"?>
<robot name="wheel_macro_demo" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:property name="wheel_radius" value="0.025"/>
    <xacro:property name="wheel_width" value="0.02"/>
    <xacro:property name="PI" value="3.1415927"/>

    <material name="black">
        <color rgba="0.05 0.05 0.05 1.0"/>
    </material>

    <xacro:macro name="wheel" params="wheel_name">
        <link name="${wheel_name}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
                </geometry>
                <origin xyz="0.0 0.0 0.0" rpy="${PI / 2} 0.0 0.0"/>
                <material name="black"/>
            </visual>
        </link>
    </xacro:macro>

    <xacro:wheel wheel_name="front_left"/>
    <xacro:wheel wheel_name="front_right"/>
    <xacro:wheel wheel_name="rear_left"/>
    <xacro:wheel wheel_name="rear_right"/>
</robot>
